<div class="container page">
  <h1>Profiles</h1>
  <form id="user-search-form" style="margin-top: 1em" class="form-inline hide">
    <div class="control-group">
      <div class="input-append">
        <input id="user-search-q" type="text" placeholder="Search" />
        <button id="user-search-submit" type="submit" class="btn">Go</button>
        <span class="help-inline"></span>
      </div>
    </div>
  </form>
  <ul id="profile-list"></ul>
  <div id="profile-list-nav">
    <a href="#" class="prev-link disabled">&larr; Previous</a>
    Showing
    <strong>
      <span class="start">0</span>-<span class="end">0</span>
    </strong>
    of
    <strong>
      <span class="total">0</span>
    </strong>
    users
    <a href="#" class="next-link disabled">Next &rarr;</a>
  </div>
</div>
