<div class="center-form">
  <form id="login-form" class="form-horizontal">
    <fieldset>
      <legend>Existing user</legend>
      <div class="control-group">
        <label class="control-label" for="login_username">Username</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="login_username">
          <p class="help-inline"></p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="login_password">Password</label>
        <div class="controls">
          <input type="password" class="input-medium" id="login_password">
          <p class="help-inline"></p>
        </div>
      </div>
      <div class="form-actions">
        <button id="login_submit" type="submit" data-loading-text="Please wait..." class="btn btn-primary">Login</button>
        <a style="position: relative; top: 2px; left: 10px;" href="#/signup">Don't have an account?</a>
      </div>
    </fieldset>
  </form>
</div>
