<div class="center-form">
  <form id="signup-form" class="form-horizontal">
    <fieldset>
      <legend>New user</legend>
      <div class="control-group">
        <label class="control-label" for="signup_username">Username</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="signup_username">
          <p class="help-inline"></p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="signup_email">Email</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="signup_email">
          <p class="help-inline"></p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="signup_password">Password</label>
        <div class="controls">
          <input type="password" class="input-medium" id="signup_password">
          <p class="help-inline"></p>
        </div>
      </div>
      <div class="form-actions">
        <button id="signup_submit" type="submit" data-loading-text="Please wait..." class="btn btn-primary">Create my account</button>
        <a style="position: relative; top: 2px; left: 10px;" href="#/login">Already have an account?</a>
      </div>
    </fieldset>
  </form>
</div>
